body {
    font-family: "Open Sans", sans-serif; }
    
  h1, h2, h3 {
    font-family: "Arial", "" }
  h2 {
    color: #4aafdd; }
  
  header h2 {
    color: #CEC8FF; }
  .site-footer {
    background-image: linear-gradient(#c8e0ff, white);
    padding: 20px 0; }
  .jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #2629db, #3a65c4, #7ac1fc);
    color: white; }
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }
  .navbar {
    background-color: #2386f7; }
  .carousel {
    border: solid #2386f7; }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }
